
#main{
	border: 1px solid black;
	width: 300px;
	background: orange;
	text-align: center;
	-webkit-border-radius: 20px;
						/*rounds the corners bigger the numner more round it gets*/
	-webkit-box-shadow: rgb(110,110,110) 5px 5px 8px inset;
						/*shadow color and size declared*/
}