
#main{
	border: 1px solid black;
	width: 300px;
	background: -webkit-radial-gradient(center, circle, red 0%, orange 50%);
	text-align: center;

	/*rounds the corners bigger the number more round it gets*/
	-webkit-border-radius: 20px;

	/*shadow color and size declared with RGB alpha (rgba)*/
	-webkit-box-shadow: rgba(110,110,110,.6) 10px 10px 10px;
		/*
		4th paramiter .6 determines the transparency
		bigger the number less transparency it is
		smaller the number more transparency it is
		*/
	
	/*
	background: -webkit-linear-gradient(90deg, black, white);
										top bottom left right
										  you can also use degrees 
										  ex: 45deg
										*/
						
	/*	-webkit-box-shadow: rgb(110,110,110) 5px 5px 8px;
	shadow color and size declared*/
}

#text{
	font: bold 30px Times new roman;
	text-shadow: rgb(110,110,110) 5px 5px 5px;
	
}